body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ECEEFF;
    background-image: linear-gradient(#102454, #2f3b57);
    min-height: 100vh;
    width: 100%;
}

input, button {
    font: inherit;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.note-input, .note-submit {
    border: none;
    width: auto;
    padding: 25px 35px;
    margin: 0 5px;
}

.note-submit {
    font-weight: 700;
    background-color: #007bff;
    color: #ECEEFF;
    border-style: none;
}

.note-input {
    width: 50%;
}

.heading {
    font-size: 3rem;
    color: #ECEEFF;
}

.tasks {
    margin-top: 100px;
    list-style: none;
}

.task {
    font-size: 1.6rem;
    background-color: #3a4e7a;
    padding: 15px 25px;
    border-radius: 15px;
    margin: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.strike {
    text-decoration-line: line-through;
}